/.classpath
/.project
/.settings
src/.classpath
src/.project
src/.settings
src/main/.classpath
src/main/.project
src/main/.settings
src/main/java/.classpath
src/main/java/.project
src/main/java/.settings
src/main/java/org/.classpath
src/main/java/org/.project
src/main/java/org/.settings
src/main/java/org/getalp/.classpath
src/main/java/org/getalp/.project
src/main/java/org/getalp/.settings
src/main/java/org/getalp/blexisma/.classpath
src/main/java/org/getalp/blexisma/.project
src/main/java/org/getalp/blexisma/.settings
src/main/java/org/getalp/blexisma/target
src/main/java/org/getalp/dbnary/cli/.classpath
src/main/java/org/getalp/dbnary/cli/.project
src/main/java/org/getalp/dbnary/cli/.settings
src/main/java/org/getalp/dbnary/cli/target
src/main/java/org/getalp/target
src/main/java/org/target
src/main/java/target
src/main/resources/.classpath
src/main/resources/.project
src/main/resources/.settings
src/main/resources/target
src/main/target
src/site/.classpath
src/site/.project
src/site/.settings
src/site/apt/.classpath
src/site/apt/.project
src/site/apt/.settings
src/site/apt/target
src/site/fml/.classpath
src/site/fml/.project
src/site/fml/.settings
src/site/fml/target
src/site/target
src/target
src/test/.classpath
src/test/.project
src/test/.settings
src/test/java/.classpath
src/test/java/.project
src/test/java/.settings
src/test/java/org/.classpath
src/test/java/org/.project
src/test/java/org/.settings
src/test/java/org/getalp/.classpath
src/test/java/org/getalp/.project
src/test/java/org/getalp/.settings
src/test/java/org/getalp/blexisma/.classpath
src/test/java/org/getalp/blexisma/.project
src/test/java/org/getalp/blexisma/.settings
src/test/java/org/getalp/blexisma/target
src/test/java/org/getalp/blexisma/wiktionary/.classpath
src/test/java/org/getalp/blexisma/wiktionary/.project
src/test/java/org/getalp/blexisma/wiktionary/.settings
src/test/java/org/getalp/blexisma/wiktionary/target
src/test/java/org/getalp/target
src/test/java/org/target
src/test/java/target
src/test/resources/.classpath
src/test/resources/.project
src/test/resources/.settings
src/test/resources/target
src/test/target
/target
