* text=auto !eol
modules/wiktionary-support/pom.xml -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/CharsetConvert.java -text svneol=unset#text/plain
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/EnglishWiktionaryExtractor.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/FrenchMacroExtractor.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/FrenchWiktionaryExtractor.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/GermanWiktionaryExtractor.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/ISO639_1.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/ISO639_3.java -text svneol=unset#text/plain
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/OffsetValue.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/SemNetGraphMLizer.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/SimpleSemanticNetwork.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/StringSemNetGraphMLizer.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/TextOnlySemnetReader.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/WiktionaryExtractor.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/WiktionaryIndex.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/WiktionaryIndexer.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/WiktionaryIndexerException.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/cli/ExtractWiktionary.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/cli/GetExtractedSemnet.java -text
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/cli/GetRawEntry.java -text svneol=unset#text/plain
modules/wiktionary-support/src/main/resources/org/getalp/blexisma/wiktionary/ISO639-eponym.tab -text
modules/wiktionary-support/src/main/resources/org/getalp/blexisma/wiktionary/ISO639-fr.tab -text
modules/wiktionary-support/src/main/resources/org/getalp/blexisma/wiktionary/ISO639.data -text
modules/wiktionary-support/src/main/resources/org/getalp/blexisma/wiktionary/iso-639-3-macrolanguages.tab -text
modules/wiktionary-support/src/main/resources/org/getalp/blexisma/wiktionary/iso-639-3.tab -text
modules/wiktionary-support/src/main/resources/org/getalp/blexisma/wiktionary/iso-639-3_Name_Index.tab -text
modules/wiktionary-support/src/main/resources/org/getalp/blexisma/wiktionary/iso-639-3_Retirements.tab -text
modules/wiktionary-support/src/main/scripts/README.txt -text
modules/wiktionary-support/src/main/scripts/de_extract-defposNoyau -text
modules/wiktionary-support/src/main/scripts/en_extract-defposNoyau -text
modules/wiktionary-support/src/main/scripts/extract-def -text
modules/wiktionary-support/src/main/scripts/extract-nbsens -text
modules/wiktionary-support/src/main/scripts/extract-terme -text
modules/wiktionary-support/src/main/scripts/extract_kernel_defs.pl -text
modules/wiktionary-support/src/main/scripts/fr_extract-defposNoyau -text
modules/wiktionary-support/src/main/scripts/intersect.sh -text
modules/wiktionary-support/src/main/scripts/kernel_dir_file.pl -text
modules/wiktionary-support/src/site/apt/cli.apt -text
modules/wiktionary-support/src/site/apt/index.apt -text
modules/wiktionary-support/src/site/fml/faq.fml -text
modules/wiktionary-support/src/site/site.xml -text
modules/wiktionary-support/src/test/java/org/getalp/blexisma/wiktionary/ISO639Test.java -text
modules/wiktionary-support/src/test/java/org/getalp/blexisma/wiktionary/SemNetGraphMLizerTest.java -text svneol=unset#text/plain
modules/wiktionary-support/src/test/java/org/getalp/blexisma/wiktionary/SemNetReaderTest.java -text
modules/wiktionary-support/src/test/java/org/getalp/blexisma/wiktionary/SimpleSemanticNetworkTest.java -text
modules/wiktionary-support/src/test/java/org/getalp/blexisma/wiktionary/StringSemNetGraphMLizerTest.java -text
modules/wiktionary-support/src/test/java/org/getalp/blexisma/wiktionary/WiktionaryExtractorTest.java -text
modules/wiktionary-support/src/test/resources/org/getalp/blexisma/wiktionary/sample-semnet.snet -text
