/.classpath
/.project
/.settings
doc/articles/swj-mlod-2012/*.aux
doc/articles/swj-mlod-2012/*.bbl
doc/articles/swj-mlod-2012/*.blg
doc/articles/swj-mlod-2012/*.synctex.gz
doc/presentations/lig-lidilem/*.aux
doc/presentations/lig-lidilem/*.nav
doc/presentations/lig-lidilem/*.out
doc/presentations/lig-lidilem/*.snm
doc/presentations/lig-lidilem/*.synctex.gz
doc/presentations/lig-lidilem/*.toc
doc/presentations/lig-lidilem/*.vrb
experiments/ldd2014/*.iml
experiments/ldd2014/.classpath
experiments/ldd2014/.project
experiments/ldd2014/.settings
experiments/ldd2014/target
extractor/*.iml
extractor/.classpath
extractor/.idea
extractor/.project
extractor/.settings
extractor/src/.classpath
extractor/src/.project
extractor/src/.settings
extractor/src/main/.classpath
extractor/src/main/.project
extractor/src/main/.settings
extractor/src/main/java/.classpath
extractor/src/main/java/.project
extractor/src/main/java/.settings
extractor/src/main/java/org/.classpath
extractor/src/main/java/org/.project
extractor/src/main/java/org/.settings
extractor/src/main/java/org/getalp/.classpath
extractor/src/main/java/org/getalp/.project
extractor/src/main/java/org/getalp/.settings
extractor/src/main/java/org/getalp/dbnary/cli/.classpath
extractor/src/main/java/org/getalp/dbnary/cli/.project
extractor/src/main/java/org/getalp/dbnary/cli/.settings
extractor/src/main/java/org/getalp/dbnary/cli/target
extractor/src/main/java/org/getalp/target
extractor/src/main/java/org/target
extractor/src/main/java/target
extractor/src/main/resources/.classpath
extractor/src/main/resources/.project
extractor/src/main/resources/.settings
extractor/src/main/resources/target
extractor/src/main/target
extractor/src/site/.classpath
extractor/src/site/.project
extractor/src/site/.settings
extractor/src/site/apt/.classpath
extractor/src/site/apt/.project
extractor/src/site/apt/.settings
extractor/src/site/apt/target
extractor/src/site/fml/.classpath
extractor/src/site/fml/.project
extractor/src/site/fml/.settings
extractor/src/site/fml/target
extractor/src/site/target
extractor/src/target
extractor/src/test/.classpath
extractor/src/test/.project
extractor/src/test/.settings
extractor/src/test/java/.classpath
extractor/src/test/java/.project
extractor/src/test/java/.settings
extractor/src/test/java/org/.classpath
extractor/src/test/java/org/.project
extractor/src/test/java/org/.settings
extractor/src/test/java/org/getalp/.classpath
extractor/src/test/java/org/getalp/.project
extractor/src/test/java/org/getalp/.settings
extractor/src/test/java/org/getalp/blexisma/.classpath
extractor/src/test/java/org/getalp/blexisma/.project
extractor/src/test/java/org/getalp/blexisma/.settings
extractor/src/test/java/org/getalp/blexisma/target
extractor/src/test/java/org/getalp/blexisma/wiktionary/.classpath
extractor/src/test/java/org/getalp/blexisma/wiktionary/.project
extractor/src/test/java/org/getalp/blexisma/wiktionary/.settings
extractor/src/test/java/org/getalp/blexisma/wiktionary/target
extractor/src/test/java/org/getalp/target
extractor/src/test/java/org/target
extractor/src/test/java/target
extractor/src/test/resources/.classpath
extractor/src/test/resources/.project
extractor/src/test/resources/.settings
extractor/src/test/resources/target
extractor/src/test/target
extractor/target
/target
