/.classpath
/.project
/.settings
modules/.classpath
modules/.project
modules/.settings
modules/target
modules/wiktionary-support/.classpath
modules/wiktionary-support/.project
modules/wiktionary-support/.settings
modules/wiktionary-support/src/.classpath
modules/wiktionary-support/src/.project
modules/wiktionary-support/src/.settings
modules/wiktionary-support/src/main/.classpath
modules/wiktionary-support/src/main/.project
modules/wiktionary-support/src/main/.settings
modules/wiktionary-support/src/main/java/.classpath
modules/wiktionary-support/src/main/java/.project
modules/wiktionary-support/src/main/java/.settings
modules/wiktionary-support/src/main/java/org/.classpath
modules/wiktionary-support/src/main/java/org/.project
modules/wiktionary-support/src/main/java/org/.settings
modules/wiktionary-support/src/main/java/org/getalp/.classpath
modules/wiktionary-support/src/main/java/org/getalp/.project
modules/wiktionary-support/src/main/java/org/getalp/.settings
modules/wiktionary-support/src/main/java/org/getalp/blexisma/.classpath
modules/wiktionary-support/src/main/java/org/getalp/blexisma/.project
modules/wiktionary-support/src/main/java/org/getalp/blexisma/.settings
modules/wiktionary-support/src/main/java/org/getalp/blexisma/target
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/.classpath
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/.project
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/.settings
modules/wiktionary-support/src/main/java/org/getalp/blexisma/wiktionary/target
modules/wiktionary-support/src/main/java/org/getalp/target
modules/wiktionary-support/src/main/java/org/target
modules/wiktionary-support/src/main/java/target
modules/wiktionary-support/src/main/resources/.classpath
modules/wiktionary-support/src/main/resources/.project
modules/wiktionary-support/src/main/resources/.settings
modules/wiktionary-support/src/main/resources/target
modules/wiktionary-support/src/main/target
modules/wiktionary-support/src/target
modules/wiktionary-support/src/test/.classpath
modules/wiktionary-support/src/test/.project
modules/wiktionary-support/src/test/.settings
modules/wiktionary-support/src/test/java/.classpath
modules/wiktionary-support/src/test/java/.project
modules/wiktionary-support/src/test/java/.settings
modules/wiktionary-support/src/test/java/target
modules/wiktionary-support/src/test/resources/.classpath
modules/wiktionary-support/src/test/resources/.project
modules/wiktionary-support/src/test/resources/.settings
modules/wiktionary-support/src/test/resources/target
modules/wiktionary-support/src/test/target
modules/wiktionary-support/target
/target
